
{{#each this}}
<div class="card">
<img class="gallery-img" data-id={{this.id}} src= {{#if this.poster_path}}"https://image.tmdb.org/t/p/w500{{this.poster_path}}"{{else}}"https://picsum.photos/200/300

"{{/if}}
 alt="film" />
    <p class="film-title">{{this.title}}</p>
    <div class="card-description">
        <p class="film-description">{{#each okGenres}}{{this}}{{#unless @last}},
            {{/unless}}{{/each}} | {{this.release_date}}</p>
        <p class="film-mark">{{this.vote_average}}</p>
    </div>
</div>
{{/each}}