
{{#each this}}

<div class="card">
    <img src="https://image.tmdb.org/t/p/w500/{{this.backdrop_path}}" alt="film" />
    <p class="film-title">{{this.title}}</p>
    <div class="card-description">
        <p class="film-description">{{#each genre_ids}}{{this}}{{#unless @last}}
            {{/unless}}{{/each}} | {{this.release_date}}</p>
        <p class="film-mark">{{this.vote_average}}</p>
    </div>
</div>

{{/each}}